.banner {
    background-image: url('../../images/banner.png');
    height: 700px;
}

.banner-text h3 {
    font-size: 48px;
}

.banner-text h1 {
    font-family: 'Square Peg', cursive;
    font-size: 108px;
}

.banner-top-image {
    width: 40%;
}