.banner {
    background-image: url('../../images/banner.png');
    background-size: cover;
    background-position: center;
    height: 700px;
    background-repeat: no-repeat;
}

.banner-text h3 {
    font-size: 48px;
}

.banner-text h1 {
    font-family: 'Square Peg', cursive;
    font-size: 30px;
}

.banner-top-image {
    width: 40%;
}